version: "3"

services:
  web:
    container_name: puzzle_web
    build:
      context: ./
      dockerfile: ./build/Dockerfile.web
    ports:
      - "50002:80"

  # The proxy that translates Http1 requests to gRPC compatible Http2 requests
  envoy:
    container_name: puzzle_proxy
    build:
      context: ./
      dockerfile: ./build/Dockerfile.envoy
    ports:
      - "50000:8080"

  # The background service that run scheduled tasks
  task_worker:
    container_name: puzzle_task_worker
    build:
      context: ./
      dockerfile: ./build/Dockerfile.worker
    restart: always

  # Server that handles the gRPC requests
  server_worker:
    container_name: puzzle_server_worker
    build:
      context: ./
      dockerfile: ./build/Dockerfile.server
    restart: always

  # The database that saves the puzzles
  rethinkdb:
    container_name: puzzle_rethinkdb
    image: rethinkdb:2.4
    volumes:
      - ./data/db:/data
    ports:
      - "28015:28015"
      - "50001:8080"
