name: Dart CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
  schedule:
    - cron: "0 0 * * 0"

defaults:
  run:
    shell: bash

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: "Deploy server to VPS"
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Copy code to remote server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          port: ${{ secrets.VPS_PORT }}
          source: "server/"
          target: "/var/docker_projects/${{ github.repository }}"

      - name: Build and bring containers online
        uses: cross-the-world/ssh-pipeline@master
        with:
          host: ${{ secrets.VPS_HOST }}
          user: ${{ secrets.VPS_USERNAME }}
          pass: ${{ secrets.VPS_PASSWORD }}
          port: ${{ secrets.VPS_PORT }}
          connect_timeout: 10s
          script: |
            cd "/var/docker_projects/${{ github.repository }}"
            docker-compose up -d --remove-orphans